/* Sidebar container */
.sidebar {
    background-color: #282c34;
    height: calc(100vh - 17px); /* Adjust sidebar height to fit below the top bar */
    color: lime;
    transition: width 0.3s ease;
    align-items: center;
    text-align: left;
    justify-content: left;
    display: block;
}

.sidebar-button {
    color: lime;
    display: flex;
    justify-content: flex-end;
    padding: 0 12px;
    font-size: medium !important;
}
  
/* Main content area */
.main-content {
  width: -webkit-fill-available;
  height: calc(100vh - 17px);
}

/* Responsive layout - when the screen is less than 768px wide, make the sidebar and main content area stack on top of each other */
@media (max-width: 768px) {
  .sidebar {
    width: 60px; /* Set initial width of sidebar when collapsed */
  }
}