.topbar {
    height: 55px;
    background-color: #282c34;
    color: lime;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
  }

  .topbar-sections {
    padding: 0px 4px;
  }
  
  .topbar-logo {
    height: 6vmin;
    width: 6vmin;
    pointer-events: none;
  }

  .topbar-app-label {
    width: 150px;
  }

  .topbar-button-container {
    display: inline-flex;
    justify-content: flex-end;
    width: -webkit-fill-available;
    margin: 0px 4px;
    padding: 0px 4px;
  }

  .topbar-button {
    margin: 0px 4px;
  }
